* {
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#affichage {
    width: 100%;
}
#affichage > div {
    width: 49%;
    display: inline-block;
    margin-left: 0.5%;
    vertical-align: top;
}
.paramsButtons > span {
    color: #818181;
    background-color: #EEEEEE;
    padding: 0.2em 1em;
    margin: 0.2em 0.5em;
    display: inline-block;
    border-radius: 0.3em;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.paramsButtons > span:hover {
    cursor: pointer;
    color: #0f3da1;
}
.paramsButtons > span.activ {
    background-color: #2b79df;
    color: #d6eaff;
}
legend button {
    margin-left: 0.5em;
}
.close {
    color: red;
    background-color: white;
}
.nom, .value {
    display: inline-block;
    margin-left: 0.5em;
}
.ligne {
    display: block;
    width:100%;
}
.valedit {
    position:relative;
    padding-right: 0.5em;
}
.supprthis {
    position: absolute;
    top:-0.2em;
    right: -0.2em;
    background-color: red;
    color:white;
    border-radius: 0.5em;
    width: 1em;
    height: 1em;
    line-height: 0.8em;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    visibility: hidden;
}
blockquote{
    border:#0f3da1 dotted;
    padding:1em;
}
.valedit:hover .supprthis {
    visibility: visible;
}
fieldset[data-data="consts"] .nom {
    min-width: 3em;
    border: 2px solid rgb(249, 228, 132);
    text-align: center;
}
fieldset[data-data="vars"] .nom {
    min-width: 3em;
    border: 2px solid rgb(249, 132, 132);
    text-align: center;
}
fieldset .champ {
    border: 1px lightgray solid;
    line-height: 1.5em;
    margin-left: 0.5em;
}
.value {
    min-width: 5em;
    border: 1px dotted dodgerblue;
}
.modal {
    position: absolute;
    display: block;
    z-index: 10;
    width: 300px;
    height: 200px;
    top:100px;
    left:50%;
    transform: translateX(-50%);
    padding: 1em;
    background-color: burlywood;
    border: 1pt solid black;
    border-radius: 1em;
}
.modal .fermer {
    position: absolute;
    top:5px;
    right: 5px;
    color: red;
    background-color: white;
}
.modal.closed {
    display: none;
}
fieldset {
    border-radius: 0.5em;
}
fieldset legend {
    font-weight: bold;
}