/* CSS (SCSS) Propore à Maths et Matic projector */

$main-color: #025296;

.pop-up {
    background-color: $main-color;
    border-radius: 10px;
    margin: 5px;
    display: none;
    h2{
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
    button{
        border-radius: 50px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.action-btn-corrige{
    button{
        box-shadow: 1px 2px 3px $main-color;
        padding: 3px;
        border-radius: 5px;
        transition: 0.5s;
        &:hover{
            color: $main-color;
            box-shadow: 1px 2px 3px white;
            transition: 0.5s;
        }
    }
}

.spanel-diapo-bs-icon{
    font-size: 40px;
}
/*Début de marquage cart-bs-icon*/
.cart-bs-icon{
    font-size: 35px;
}

#button-type{
    box-shadow: 1px 2px 3px $main-color;
    padding: 3px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 5px;
    &:hover{
        background-color: $main-color;
        color: white;
        box-shadow: 1px 2px 3px white;
        transition: 0.5s;
    }
}
/*Fin de marquage cart-bs-icon*/
.h3-about{
    color: $main-color;
    text-align: center;
    font-size: 20px;
}

.button-cle-data{
    box-shadow: 1px 2px 3px $main-color;
    padding: 3px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 5px;
    &:hover{
        color: $main-color;
        box-shadow: 1px 2px 3px white;
        transition: 0.5s;
    }
}

.etat-cache{
    display: none;
}

/*Taille diffrerentes pour le ratio 1:1 (Carré)*/
.carre-32{
    width: 32px;
    height: 32px;
}
.carre-40{
    width: 40px;
    height: 40px;
}
.carre-64{
    width: 64px;
    height: 64px;
}
.carre-100{
    width: 100px;
    height: 100px;
}