$primary-color: #025296 ;

.txtcenter {
    .ToastHistory{
        background-color: $primary-color;
        color: white;
        display: none;
        border-radius: 10px;
        #Alink {
            color: white;
        }
    }
}