@media screen {
    body {
        padding: 10mm;
    }
}
@media print {
    #creator-menu {
        display: none;
    }
    .noprint {
        display:none;
    }
}
*{
    box-sizing: border-box;
}
html{
    padding:0;
    margin:0;
    font-size: 12pt;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
footer {page-break-after: always;}
.s8{
    font-size: 8pt;
}
.s9{
    font-size: 9pt;
}
.s10{
    font-size: 10pt;
}
.s11{
    font-size: 11pt;
}
.s12{
    font-size: 12pt;
}
.s13{
    font-size: 13pt;
}
.s14{
    font-size: 14pt;
}
.s15{
    font-size: 15pt;
}
.s16{
    font-size: 16pt;
}
.s85{
    font-size: 8.5pt;
}
.s95{
    font-size: 9.5pt;
}
.s105{
    font-size: 10.5pt;
}
.s115{
    font-size: 11.5pt;
}
.s125{
    font-size: 12.5pt;
}
.s135{
    font-size: 13.5pt;
}
.s145{
    font-size: 14.5pt;
}
.s155{
    font-size: 15.5pt;
}
/*
*/
.floatright{
    float:right;
    padding : 1pt;
    border: 1px solid black;
}
.fright{
    float:right;
}
/*
Taille carte de visite
*/
.card {
    width:85mm;
    height:55mm;
    margin:5mm;
    border: 1px solid black;
    border-radius: 5mm;
    padding:5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** grilles */
.grid{
    display:grid;
}
/* 2 colonnes */
.g2{
    grid-template-columns: repeat(2,1fr);
}
/* 3 colonnes */
.g3{
    grid-template-columns: repeat(3,1fr);
}
/* 4 colonnes */
.g4{
    grid-template-columns: repeat(4,1fr);
}
/* 5 colonnes */
.g5{
    grid-template-columns: repeat(5,1fr);
}
/* 6 colonnes */
.g6 {
    grid-template-columns: repeat(6,1fr);
}
/* Commons
*/
#creator-container::after{
    content:"\ CC-BY-NC © 2021 MathsMentales.net";
    color:darkblue !important;
    font-size: 0.8rem;
    margin-top: 30px;
    border-top: 1px solid black;
    text-align: end;
}
#creator-container {
    display: flex;
    height:100%;
    flex-direction: column;
    width: 100%;
}
#creator-content header{
    font-size: 1.3rem;
}
h3.exercice-title{
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
@counter-style majuscules {
    system : alphabetic;
    symbols : A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;
    suffix : ') ';
}
.enonce ol{
    padding-left: 1.5rem;
}
#creator-content ol{
    margin-top:0;
    list-style-type: majuscules;
}
#creator-content li {
    float: left;
    margin-right:2rem;
    font-size: 1rem;
    padding: 4px 10px 4px;
}
#creator-content section{
    clear: both;
    margin-bottom: 1rem;
}
.corrige {
    font-size:smaller;
}
.correction {
    margin-top:2rem !important;
    color:grey !important;
}
.clearfix {
    clear:both;
}
/* Interro spécifique
*/
.studenName {
    padding:1pt 1pt 20pt;
    width: 40%;
    border: 1px solid black;
    margin-right:5px;
    float: left;
}
.remarques {
    padding:1pt 1pt 30pt;
    width: calc(100% - 40% - 5px);
    border: 1px solid black;
    float: left;
}
#creator-content li.interro {
    padding-bottom: 30pt;
    border: 1px solid black;
}
.fig {
    width:90%;
    height: 200px;
}