*{
    box-sizing: border-box;
}
html{
    padding:0;
    margin:0;
    font-size: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
footer {page-break-after: always;}
.pagebreak{page-break-before: always;}
.s8{
    font-size: 8pt;
}
.s9{
    font-size: 9pt;
}
.s10{
    font-size: 10pt;
}
.s11{
    font-size: 11pt;
}
.s12{
    font-size: 12pt;
}
.s13{
    font-size: 13pt;
}
.s14{
    font-size: 14pt;
}
.s15{
    font-size: 15pt;
}
.s16{
    font-size: 16pt;
}
.s85{
    font-size: 8.5pt;
}
.s95{
    font-size: 9.5pt;
}
.s105{
    font-size: 10.5pt;
}
.s115{
    font-size: 11.5pt;
}
.s125{
    font-size: 12.5pt;
}
.s135{
    font-size: 13.5pt;
}
.s145{
    font-size: 14.5pt;
}
.s155{
    font-size: 15.5pt;
}
/*
*/
.floatright{
    float:right;
    padding : 1pt;
    border: 1px solid black;
}
.fright{
    float:right;
}

/*
Taille carte de visite
*/
.card {
    width:85mm;
    height:55mm;
    margin:0;
    border: 1pt solid black;
    border-radius: 5mm;
    padding:5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** grilles */
.grid{
    display:grid;
}
.g1{
    grid-template-columns: 1fr;
}
/* 2 colonnes */
.g2{
    grid-template-columns: repeat(2,1fr);
}
/* 3 colonnes */
.g3{
    grid-template-columns: repeat(3,1fr);
}
/* 4 colonnes */
.g4{
    grid-template-columns: repeat(4,1fr);
}
/* 5 colonnes */
.g5{
    grid-template-columns: repeat(5,1fr);
}
/* 6 colonnes */
.g6 {
    grid-template-columns: repeat(6,1fr);
}
/* Commons
*/
#creator-container {
    display: flex;
    height:100%;
    flex-direction: column;
    width: 100%;
}
#creator-content header{
    font-size: 1.3rem;
}
h3.exercice-title{
    font-weight: 400;
    margin-top: 0.5rem;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
@counter-style majuscules {
    system : alphabetic;
    symbols : A B C D E F G H I J K L M N O P Q R S T U V W X Y Z;
    suffix : ') ';
}
.enonce ol{
    padding-left: 1.5rem;
}
#creator-content ol{
    margin-top:0;
    list-style-type: majuscules;
}
#creator-content li {
    float: left;
    margin-right:2rem;
    font-size: 1rem;
    padding: 4px 10px 4px;
}
#creator-content section{
    clear: both;
    margin-bottom: 1rem;
}
.enonce {
    margin-top:10pt;
}
.corrige {
    font-size:smaller;
    color:grey;
}
.correction {
    margin-top:2rem;
    color:grey;
}
.clearfix {
    clear:both;
}
/* Interro spécifique
*/
.studenName {
    padding:1pt 3pt 30pt;
    width: 40%;
    border: 1pt solid black;
    margin-right:5px;
    float: left;
}
.remarques {
    padding:1pt 3pt 30pt;
    width: calc(100% - 40% - 5px);
    border: 1pt solid black;
    float: left;
}
#creator-content li.interro article {
    height: 30pt;
    border: 1pt solid black;
}
/* ceinture spec */
.ceinture, .ceintCorrige {
    border-top: 1pt solid black;
    border-left: 1pt solid black;
    page-break-inside:avoid;
    margin-top:15pt;
}
.ceintCorrige {
    float:left;
    margin-right:15pt;
}
.ceintCorrige + .ceinture {
    clear: both;
}
.ceinture + .ceintCorrige {
    margin-top:15pt;
    margin-bottom: 15pt;
}
.ceinture-header {
    display: grid;
    grid-template-columns: 4cm auto 4cm;
}
.ceinture-titre {
    line-height: 2;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.ceinture-titre-colonne {
    text-align: center;
    font-weight: bold;
}
.ceinture-pied-colonne {
    text-align: center;
}
.border-black {
    border-right: 1pt solid black;
    border-bottom: 1pt solid black;
    padding: 2pt 4pt;
}
.bg-grey {
    background-color: #ECECEC;
}
input[type="color"]{
    width: 20pt;
    height: 20pt;
    vertical-align: middle;
}
.ceinture .grid .grid, .ceintCorrige .grid .grid {
    align-content: center;
    grid:none / max-content auto;
    grid-column-gap:4pt;
}
/*whogot specs*/
.whogot-carte {
    padding: 3pt;
    width: 60mm;
    float:left;
    border:1pt solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    page-break-inside:avoid;
}
.whogot-question{
    padding-bottom:1rem;
}
.dominos-carte {
    height: 25mm;
    width: 60mm;
    padding: 3pt;
    float:left;
    border:1pt solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    page-break-inside:avoid;
}
.dominos-question,.dominos-reponse{
    width: 48%;
    text-align: center;
}
.barrev {
    display:block;
    background: rgb(131, 129, 129);
    width:5pt;
    border:1pt solid black;
    height: 80%;
}
.fig {
    width:90%;
    height: 200px;
}
.nofig svg, .nofig br ~ svg {
    display: none;
}
.red {
    color: red;
}
@media screen {
    body {
        padding: 10mm;
    }
    #creator-container::before{
        content:"\ CC-BY-NC © 2022 MathsMentales.net";
        color:darkblue !important;
        font-size: 0.8rem;
        border-bottom: 1pt solid black;
        text-align: end;
    }
}
@media print {
    #creator-menu {
        display: none;
    }
    .noprint {
        display:none;
    }
}