* {
    box-sizing: border-box;
}


body {
    font-size: calc(10px + 0.390625vw);
}
@media only screen and (max-width: 320px) {
    b {
      font-size: 12px;
    }
  }

#flipall {
    position: absolute;
    right: 0;
    font-size: 2em;
    border-radius: 0 3rem;
    border-bottom: 1rem solid red;
    border-left: 1rem solid red;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}
#creator-content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 1em;
    height: calc(100vh - 5em);
    width: 98%;
    margin: auto;
}
h1 {
    text-align: center;
    font-size: 2em;
}
.tuile {
    font-size: 1.5em;
    flex-grow: 1;
    min-width: 12em;
    min-height: 5em;
    position: relative;
    perspective: 1000px;
}

@media (orientation: landscape) {
  .tuile:not(:last-child) {
    max-width: 48vw;
  }  
}

.tuile .numero {
    border-radius: 0 2rem;
    border-left: 0.3rem solid white;
    border-bottom: 0.3rem solid white;
    position: absolute;
    right:0;
    top: 0;
    padding: 0.5rem;
    color:darkblue;
    font-weight: bold;
}
.tuile .numero, .tuile .interrogation {
    min-width: 2em;
    text-align: center;
}

.tuile .interrogation {
    border-radius: 2rem 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    background-color: white;
    cursor: pointer;
    z-index: 5;
}

.hidden {
    display: none;
}

.flip-card-inner {
    border-radius: 2rem;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card-inner.rotate {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    border-radius: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    position: absolute;
    top:0;
    border: 0.6rem solid red;
    transform: rotateY(180deg);
  }