attendus fin annee/Exos MMv1 à transposer.ods
attendus fin annee/.~lock.Exos MMv1 à transposer.ods

# ignorer le dossier de config de visual studio code
.vscode/ 

# les dépendances
node_modules
# la doc
documentation
src/js/modules/doc
# la conf privée
_private

# traces MacOS
.DS_Store

# fichiers du serveur
tinyweb-1-94
*_log
library/illustrations/backgrounds/bgdesert.jpg
library/illustrations/backgrounds/bgforet.jpg
library/illustrations/backgrounds/bghangar.jpg
library/illustrations/backgrounds/bgmarais.jpg
library/illustrations/backgrounds/bgnightdesert.jpg
library/illustrations/backgrounds/bgsaloon.jpg
library/illustrations/backgrounds/bgspace.jpg
library/illustrations/backgrounds/bgvs.jpg
library/illustrations/Persos/dino1.png
library/illustrations/Persos/dino2.png
library/illustrations/Persos/dino3.png
library/illustrations/Persos/dino4.png
library/illustrations/Persos/dino5.png
library/illustrations/Persos/dino6.png
library/illustrations/Persos/dino7.png
library/illustrations/Persos/dino8.png
library/illustrations/Persos/dragon1.png
library/illustrations/Persos/dragon2.png
library/illustrations/Persos/dragon3.png
library/illustrations/Persos/dragon4.png
library/illustrations/Persos/dragon5.png
library/illustrations/Persos/dragon6.png
library/illustrations/Persos/dragon7.png
library/illustrations/Persos/fee1.png
library/illustrations/Persos/fee2.png
library/illustrations/Persos/fou1.png
library/illustrations/Persos/genie1.png
library/illustrations/Persos/girl1.png
library/illustrations/Persos/goblin1.png
library/illustrations/Persos/pirate1.png
library/illustrations/Persos/pirate2.png
library/illustrations/Persos/pirate3.png
library/illustrations/Persos/pirate4.png
library/illustrations/Persos/pirate5.png
library/illustrations/Persos/pirate6.png
library/illustrations/Persos/princess1.png
library/illustrations/Persos/princess2.png
library/illustrations/Persos/roi1.png
library/illustrations/Persos/roi2.png
library/illustrations/Persos/sorcier1.png
.htaccess
