<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Server ports for HTTP and HTTPS protocols.
             Leave empty value to disable the particular protocol.
             Standard HTTP port is 80.
             Standard HTTPS port is 443. 
             -->
    <add key="httpPort" value="1180" />
    <add key="httpsPort" value="11443" />
    <!-- Root directory of the web server. -->
    <add key="webRootDir" value="../." />
    <!-- Default file to be sent if the request URL points to a directory. -->
    <add key="defaultFile" value="index.html" />
    <!-- Server certificate and its password. -->
    <add key="serverCertificateFile" value="server-certificate.pfx" />
    <add key="serverCertificatePassword" value="my-super-secure-password" />
    <!-- Specifies whether to start the server when the application is launched. -->
    <add key="autoStart" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>